{% extends "blog/base_blog.html" %}

{% block title %}
    {% if posts %}
        Список постов - {{ block.super }}
    {% elif tags %}
        Список тегов - {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if posts %}
        <h1 class="mb-5">Посты:</h1>
        {% for post in posts %}
            {% include "blog/includes/post_card_template.html" %}
        {% endfor %}
    {% elif tags %}
        <h1 class="mb-5">Теги:</h1>
        {% for tag in tags %}
            <h3><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></h3>
        {% endfor %}
    {% endif %}
    
{% endblock %}

